@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: hsl(220, 15%, 55%);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.center {
    width: 25%;
    height: 530px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: hsl(212, 45%, 89%);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.qr {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

img {
    width: 300px;
    border-radius: 20px;
}

.res {
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
}

p {
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {

    .center {
        width: 35%;
        height: auto;
    }

    p {
        font-size: 15px;
    }

    h3 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {

    .center {
        width: 35%;
        height: auto;
    }

    img {
        width: 200px;
    }

    p {
        font-size: 10px;
    }

    h3 {
        font-size: 15px;
    }
}

@media (max-width: 425px) {

    .center {
        width: auto;
        height: auto;
    }

    img {
        width: 200px;
    }

    p {
        font-size: 8px;
    }

    h3 {
        font-size: 12px;
    }
}